{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h2>Kategoria {{ category.name }}</h2>
            <p><small>{{ category.description }}</small></p>
            <hr>

            {#            {% for advert in adverts %}#}
            {% for advert in pagination %}
                {# https://getbootstrap.com/docs/4.3/components/card/#horizontal #}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="http://lorempixel.com/300/200?cb={{ random() }}" class="card-img" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ advert.title }}</h5>
                                <p class="card-text">{{ advert.description|truncate(200, true) }}</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        {{ advert.firstName }} {{ advert.lastName|first|upper }}.
                                        {{ advert.createdAt|date("d.m.Y") }},
                                        {{ advert.createdAt|time_diff }}

                                    </small>
                                </p>
                                <p class="card-text text-right"><a href="{{ path('advert_show', {"slug": advert.slug}                                  ) }}" class="btn btn-primary">Zobacz ogłoszenie</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {{ knp_pagination_render(pagination, "@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig") }}
        </div>
    </div>
{% endblock %}
