{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>{{ advert.title }}</h2>
            <hr>
            <p>{{ advert.description|nl2br }}</p>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Informacje</h2>
            <hr>
            <p>Autor: {{ advert.firstName }} {{ advert.lastName|first|upper }}.</p>
            <p>Data: {{ advert.createdAt|date("d.m.Y") }}</p>
            <p>
                Kategorie:
            <ul>
                {% for category in advert.categories %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
            </p>
            <p>
                Kategorie (2): <br/>
                {{ advert.categories|join(', ') }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Skontaktuj się!</h2>

            {#            {{ form(form) }}#}

            {{ form_start(form) }}

{#                            {{ form_row(form.lastName) }}#}
{#                            {{ form_row(form.firstName) }}#}
            {#                {{ form_rest(form) }}#}

            {{ form_widget(form) }}

            <input type="submit" class="btn btn-primary" value="Wyślij wiadomość ogłoszeniodawcy"/>

            {{ form_end(form) }}


        </div>
    </div>

{% endblock %}