{% extends 'base.html.twig' %}

{% block title %}Witaj Arturze!{% endblock %}

{% block body %}
    {{ dump() }}

    <h3>Hello {{ name }}!</h3>

    <a href="{{ url('intro_index', {"page": 22, "_format": "json"}) }}">link do strony</a>

    <hr>

    {{ komentarz | raw }}

    <hr>

    Liczba elementów w tablicy {{ tablica | length }}
    <hr>
    {% if tablica2 is empty %}
        <p>Nie ma nic w tablicy</p>
    {% else %}
        <p>Coś jest w tablicy</p>
    {% endif %}

    {% for k,v in tablica %}
        Klucz: {{ k }} - Wartość: {{ v }} <br>
    {% endfor %}

    <hr>

    {% for v in tablica2 %}

        {{ v }}


    {% else %}
        Tablica jest pusta


    {% endfor %}

    <hr>

    {{ tablica.2 }}

    <hr>

    {% if tablica2 is empty %}

        <p>Nie ma nic w tablicy</p>

    {% else %}

        <p>Coś jest w tablicy</p>

    {% endif %}

    <hr>

    {% for k,v in tablica %}

        Klucz: {{ k }} - Wartość: {{ v }} <br>

        {%  if loop.first %}

            Pierwszy

        {% endif %}

        {%  if loop.index is even %}

        Parzyste

        {% endif %}

        {%  if loop.index is odd %}

        Nieparzyste

        {% endif %}

    {% endfor %}


{% endblock %}
